.tpl-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &> main {
        padding-top: var(--header--height);
        flex: 1;
    }
    &> footer {
        margin-top: auto;
    }
}