@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: initial;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: clamp(3rem, 4.4vw, 8rem);
    &.f-lg {
        font-size: clamp(4rem, 6.4vw, 12rem);
    }
}
  
h2, .h2 {
    font-size: clamp(3rem, 3.4vw, 4rem);
    &.f-lg {
        font-size: clamp(3rem, 4.4vw, 8rem);
    }
}
 
h3, .h3 {
    font-size: clamp(2.4rem, 2.8vw, 2.6rem);
}

h4, .h4 {
    font-size: clamp(1.8rem, 2.2vw, 2.4rem);
}

p {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    font-weight: 400;
    margin-bottom: 0;
    strong {
        font-weight: 600;
    }
    a {
        color: var(--c--primary);
    }
}
  
a {
    color: var(--c--white);
}

li {
    list-style: none;
}

ul.p-list {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    li {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 1.3rem;
            right: calc(100% + .7rem);
            display: block;
            height: .2rem;
            width: .8rem;
            background-color: var(--c--primary--light);
        }
    }
}

.f-white {
    color: var(--c--white);
}
