@mixin hover {
  &:hover { outline: 0; text-decoration: none; @content; }
}

@mixin hover-focus {
  &:hover,
  &:focus {
    text-decoration: none;
    @content;
  }
}

@mixin plain-hover-focus {
  &,
  &:hover,
  &:focus {
    text-decoration: none;
    @content;
  }
}

@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    @content;
  }
}
